:root{
    --title-color : #2E2F42;
    --typle-color:#5c6afd;
    --while-color:#FFFFFF;
    --typle2-color:#434455;
    --while2-color:#E7E9FC;
    --while3-color:#F4F4FD;
    --blue-color:#4D5AE5;
    --title2-color:#AFB1B8;
    --title3-color:#8E8F99;
    --title4-color:#E5E5E5;
    --blue2-color:#404BBF;
    --green:#31D0AA;
}

h1,
h2,
h3,
p{
margin-top: 0%;
margin-bottom: 0%;
}

ul{
margin-top: 0%;
margin-bottom: 0%;
padding-left: 0%;
}
img{
display: block;
width: 100%;
height: auto;
}
.container{
width: 1158px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}
/*-------------HEADER-------------- */
.header{
background:var(--while-color);
border-bottom: 1px solid var(--title2-color);
}
.element.style{
    display: flex;
}
.studio{
   margin-right: 76px;
}
.page-header-container{
    display: flex;
    align-items: center;
}
.page-nav{
    display:flex;
    align-items: center;
}
.header-list{
    display: flex;
    align-items: center; 
    gap: 40px
    }

.contacts{
    margin-left: 332px;
}

body{
    color:var(--title-color) ;
    font-family: 'Roboto',sans-serif;
}
.web{
    color: var(--typle-color);
    text-transform: uppercase; 
    font-family: Raleway;
}
.studio{
    color:var(--title-color);
    text-transform: uppercase; 
    font-family: Raleway;
}
/*---------------BUTTON------------ */
.page-header{
    padding-top: 24px;
    padding-bottom: 24px;
}
.header-list :hover,
.header-list:focus{
color:var(--blue-color);
}

.button-list:hover,
.button-list:focus{  
    background-color:var(--blue2-color);
    box-shadow:0px 0px  2px 0px var(--title3-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.12)),rgba(0, 0, 0, 0.08),rgba(0, 0, 0, 0.1);  
    color: var(--while-color);
    border-color: var(--blue2-color);
}
.btn-list:focus,
.btn-list:hover{
    background-color: var(--blue2-color);
    color:var(--while-color) ;
}
/* --------HEADER-------- */
.link{
    font-size: 16px;
    line-height:calc(24/16);
    color:var(--title-color);
    font-weight: 600;
}
.contacts{
    font-size: 16px;
    line-height:calc(24/16);
    color:var(--typle2-color);
    text-decoration: none;
    margin-right: auto;

}
.contacts2{
    font-size: 16px;
    line-height:calc(24/16);
    color:var(--typle2-color);
    text-decoration: none;
    margin-left: auto;
    margin-right: auto; 
}
/*------------------SKILLS-------------*/
.rectangle{
    border-radius: 4px;
    background-color: var(--while3-color);
    border: 1px solid var(--while3-color);
    display: block;
    width: 264px;
    height: 112px;
}
/*--------------STUDIO---------- */
.box-media{
    border-radius: 4px;
    background-color: var(--while3-color);
    width: 264px;
    height: 112px;
    gap: 24px;
    justify-content: center;
    display: flex;
}
.box-1{
    background-color: var(--while3-color);
    height: 112px;
    width: 264px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sol{
    padding-top:188px ;
    padding-bottom:188px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    height: 603px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url('../images/office.jpg');
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat ;
    background-color: var(--title-color);
}
.foto-list{
    display: flex;
    gap: 24px;
}
.solutions-title{
    font-size: 56px;
    line-height:calc(60/56);
    color:var(--while-color);
    width: 492px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}
/*-------------BUTTON------------- */
.btn{
      padding-top:12px; ;
      padding-bottom: 12px;
      padding-left:32px;
      padding-right: 32px;
    font-family:inherit;
        font-size: 16px;
        line-height: calc(19/16);
        cursor: pointer;
}
.btn{
    background-color: var(--typle-color); 
    color:var(--while-color);
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 600;
    border: none;
}
.button{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: inherit;
    font-size: 16px;
    line-height: calc(24/16);
    cursor: pointer;
    background: var(--while2-color);
    color:var(--typle-color);
    border: 1px solid var(--while2-color);
    border-radius: 4px;
    font-weight: 600;
}
.list-button{
    display: flex;
    list-style: none;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}
    /*------------PORTFOLIO------------- */
.visual{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space:nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    /* ---------BUTTON--------- */
.button3{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space:nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden; 
    }
    /* --------------STUDIO---------- */
.list-ul{
 padding: 0%;
 margin: 0;
display: flex;
}
.st-list{
    margin-right: 24px;
    display: block;
}
.st-list2{
    margin-right: auto;
    display:block;
}
.list-ul>.st-list{
    outline: 1px solid var(--while-color)   
}
    .title-team{
        font-size: 36px;
        line-height: calc(40/36);
        color:var(--title-color);
        margin-bottom: 72px;
        margin-left:auto;
        margin-right: auto;
        text-align: center;
    }
.title-list{
        font-family: Roboto;
        font-weight: 600;
        font-size: 20px;
        line-height:calc(24/20);
        color:var(--title-color);
        margin-bottom:8px;
    }
.text{
        font-size: 16px;
        line-height:calc(24/16);
        color:var(--typle2-color);
        font-family:'Roboto';
        font-weight: 400;
        width: 264px;
    }
.foto{
        padding-top:120px ;
        padding-bottom: 120px;
    }
    /*-----------LIST-------- */
.list{
    list-style: none;
}
.foto-logo{
    justify-content: center;
    align-items: center;
    display: flex;
}
.link{
    text-decoration: none;
}
/* FOTO */
.kann-title{
    font-size: 36px;
    line-height:calc(40/36) ;
    color: var(--title-color);
    text-transform: capitalize;
    margin-bottom: 72px;
    margin-left:auto ;
    margin-right:auto;
    text-align: center;
}
.team-title-foto:hover{
box-shadow:0px 0px 0.5px 0px var(--title-color);
}
/*---------CONTACTS-----------*/
.empployees-card-contant-wrapper{
border: 1px solid var(--while3-color);
background-color: var(--while-color);
border-top: none;
padding-top:32px;
padding-bottom: 32px;
text-align: center;
}
.icone-link{
    display: flex;
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--title3-color);
}
.icone-link:hover,
.icone-link:focus{
border-color: var(--blue2-color);
fill: var(--blue2-color);
}

.empployees-card-contant2{
    border: 1px solid var(--while3-color);
    background-color: var(--while-color);
    border-top: none;
    padding-top:32px;
    padding-bottom: 32px;
    padding-left: 16px;  
}
.footer-container{
    display: flex;
}
.team-title{
    background:var(--while3-color);
    padding-top:120px;
    padding-bottom:120px;
    margin-left: auto;
    margin-right: auto;
}
.team-foto{
display: flex;
gap: 24px;
}
.team-foto-list{
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}
.foto-team{
    margin-bottom: 120px;
}
.team-title-foto{
    font-size: 36px;
    line-height:calc(40/36);
    color:var(--title-color);
    width: calc((100% - 48px)/ 3);
}
.title-foto{
    font-size: 36px;
    line-height:calc(40/36);
    color:var(--title-color);
    margin-bottom: 48px;
    margin-right: 24px;

}
.card{
    margin-bottom: 120px;
}
.empployees-card-contant{
    border: 1px solid var(--while3-color);
background-color: var(--while-color);
border-top: none;
padding: 32px,16px,32px,26px;
}
.team{
    background-color:var(--while-color);
}
.name{
    font-size: 20px;
    line-height:calc(24/20);
    color:var(--title-color);
}

.work{
    font-size: 16px;
    line-height: calc(16/24);
    color:var(--title-color) ; 
    margin-top: 8px;
}
/*--------------------CUSTOMERS------------- */
.customers{
    background-color: var(--while-color);
    padding-top:130px ;
    padding-bottom: 120px;
}
.customers-text{ 
    font-size: 36px;
    line-height: calc(40/36);
    color:var(--title-color);
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 72px;
}
.box{
display: flex;
gap: 24px;
}
.logo{
    width:calc((100% - 120px) / 6) ;
    height: 88px;
   
}
/*---------------------TEAM-------------------*/
.social{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}
.social-media{
width: 40px;
height: 40px;
}
.social-icon{
    align-items: center;
    justify-content: center;
}
.social-link{
    width: 100%;
    height: 100%;
    background-color: var(--blue-color);
    border-radius: 50%;
    display: flex;
   justify-content: center;
   align-items: center;
    cursor: pointer;
    }
.social-link:hover,
.social-link:focus{
background-color: var(--blue2-color);
}
/*--------------------PORTFOLIO-------------*/
.portfolio{
    padding-bottom:72px;
    padding-top: 96px;
}
/*----------FOOTER---------- */
.footer{
    background-color:var(--title-color);
    padding-top:100px;
    padding-bottom:100px ;
    margin-left: auto;
    margin-right: auto;
}
.web2{
    color: var(--typle-color);
    text-transform: uppercase; 
    font-family: Raleway;
}
.studio-footer{
    color: var(--while-color);
    font-size: 18px;
    line-height: calc(24/18);
    font-weight: 800;
    text-transform: uppercase; 
    font-family: Raleway;
}
.end-text{
    font-size: 16px;
    line-height:calc(24/16);
    color:var(--while2-color) ;
     width: 264px;
     height:72px;
     margin-top: 16px;
    
}
.media{
font-size: 16px;
line-height:calc(24/16);
color: var(--while-color);
}
.box-icone2{
    display: flex;
    gap: 16px;
    margin-left: auto;
    margin-right: auto; 
}
.box-icone2{
    display: flex;
     gap: 24px;
    margin-top: 8px;
}
.box-icone{
    width: 4opx;
    height: 40px;
}
.box-icone-a{
    width: 40px;
    height: 40px;
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.box-icone-a:focus,
.box-icone-a:hover{
background-color:var(--green) ;
}
.footer-container{
    align-items: baseline;
}
.div{
    margin-right: 120px;
}
